.id {
  color: gray;
  margin-bottom: 0px;
  font-family: "Oswald";
}

img {
  object-fit: cover;
}

.description {
  font-weight: 400;
  font-family: "Oswald";
}

.name {
  margin-top: 0px;
  font-family: "Oswald";
}

.button:hover {
  background-color: whitesmoke;
  color: red;
}